{
  "presets": [
    "env",
    "react"
  ],
  "plugins": ["add-module-exports", "react-require"],
  "env": {
    "development": {},
    "production": {},
    "test" : {
      "plugins": [
        ["module-resolver", {
          "root": ["./src"],
          "alias": { "settings": "./src/env/test" }
        }]
      ],
      "presets": []
    }
  }
}
